{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block style %}
<style>
h1{margin-top:80px;}
.form-group{ height: 100px;}
p.lead{margin-top: 40px; margin-bottom:40px;}
input.btn {margin-bottom: 40px; width: 100%}

div[class^="col-"]{ background-color:lightgrey; border: 1px solid grey; }
</style>
{% endblock style %}

{% block content %}
<div class = "container">
	<div class = "row">
		<div class="col-sm-10 offset-sm-4">
			<h1>Restablece Tu Contraseña</h1>
			<p class='lead'>Para restablecer tu contraseña, pon tu correo electrónico.</p>
			<form method="post" action=".">
			  {% csrf_token %} 
			    {{ form|crispy }}
			  <input class='btn btn-primary' type="submit" value="{% trans 'Restablecer' %}" />
			</form>
		</div>
	</div>

<br>
<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
</div>
<br>
<div class="row">
  <div class="col-md-3 offset-md-3">.col-md-3 .offset-md-3</div>
  <div class="col-md-3 offset-md-3">.col-md-3 .offset-md-3</div>
</div>
<br>
<div class="row">
  <div class="col-md-6 offset-md-3">.col-md-6 .offset-md-3</div>
</div>

{% endblock %}


