{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class = "container">
	<div class="row">
		<br>
		<div class='col-sm-4'></div>
		<div class='col-sm-10'>
			<p><h1>Regístrate!</h1></p>
			<br>
			<form method="post" action=".">
		  		{% csrf_token %}
		  		{{ form|crispy }}
		  		<input class='btn btn-block btn-primary' type="submit" value="{% trans 'Sobres' %}" />
		  		<input type="hidden" name="next" value="{{ next }}" />
			</form>
			<hr>
		</div>
		<div class='col-sm-4'></div>
	</div>
		
	<div class="row">
		<br>
		<div class='col-sm-4'></div>
		<div class='col-sm-10 text-align-center'>
			<p>Quieres <a href="{% url 'auth_login' %}">Abrir sesión</a>?</p>
		</div>
	</div>
</div>

{% endblock %}