{% extends "base.html" %}

{% block jumbotron %} {% endblock %}

{% block content %}
<div class="row" style="background-color:black">
	<div class="col-md-1" style="background-color: blue;">.col-md-1</div>
	<div class="col-md-1" style="background-color: yellow;">.col-md-1</div>
	<div class="col-md-1" style="background-color: blue;">.col-md-1</div>
	<div class="col-md-1" style="background-color: yellow;">.col-md-1</div>
	<div class="col-md-1" style="background-color: blue;">.col-md-1</div>
	<div class="col-md-1" style="background-color: yellow;">.col-md-1</div>
	<div class="col-md-1" style="background-color: blue;">.col-md-1</div>
	<div class="col-md-1" style="background-color: yellow;">.col-md-1</div>
	<div class="col-md-1" style="background-color: blue;">.col-md-1</div>
	<div class="col-md-1" style="background-color: yellow;">.col-md-1</div>
	<div class="col-md-1" style="background-color: blue;">.col-md-1</div>
	<div class="col-md-1" style="background-color: yellow;">.col-md-1</div>
</div>

<div class="row" style="background-color:black; padding:6px 0px 6px 0px;">
	<div class="col-xl-1" style="background-color: red;">.col-xl-1</div>
	<div class="col-xl-1" style="background-color: green;">.col-xl-1</div>
	<div class="col-xl-1" style="background-color: red;">.col-xl-1</div>
	<div class="col-xl-1" style="background-color: green;">.col-xl-1</div>
	<div class="col-xl-1" style="background-color: red;">.col-xl-1</div>
	<div class="col-xl-1" style="background-color: green;">.col-xl-1</div>
	<div class="col-xl-1" style="background-color: red;">.col-xl-1</div>
	<div class="col-xl-1" style="background-color: green;">.col-xl-1</div>
	<div class="col-xl-1" style="background-color: red;">.col-xl-1</div>
	<div class="col-xl-1" style="background-color: green;">.col-xl-1</div>
	<div class="col-xl-1" style="background-color: red;">.col-xl-1</div>
	<div class="col-xl-1" style="background-color: green;">.col-xl-1</div>
</div>

<div class="row" style="background-color:black; padding:6px 0px 6px 0px;">
	<div class="col-lg-1" style="background-color: blue;">.col-lg-1</div>
	<div class="col-lg-1" style="background-color: green;">.col-lg-1</div>
	<div class="col-lg-1" style="background-color: blue;">.col-lg-1</div>
	<div class="col-lg-1" style="background-color: yellow;">.col-lg-1</div>
	<div class="col-lg-1" style="background-color: blue;">.col-lg-1</div>
	<div class="col-lg-1" style="background-color: yellow;">.col-lg-1</div>
	<div class="col-lg-1" style="background-color: blue;">.col-lg-1</div>
	<div class="col-lg-1" style="background-color: yellow;">.col-lg-1</div>
	<div class="col-lg-1" style="background-color: blue;">.col-lg-1</div>
	<div class="col-lg-1" style="background-color: yellow;">.col-lg-1</div>
	<div class="col-lg-1" style="background-color: blue;">.col-lg-1</div>
	<div class="col-lg-1" style="background-color: yellow;">.col-lg-1</div>
</div>

<div class="row" style="background-color:black; padding:6px 0px 6px 0px;">
	<div class="col-md-1" style="background-color: blue;">.col-md-1</div>
	<div class="col-md-1" style="background-color: green;">.col-md-1</div>
	<div class="col-md-1" style="background-color: blue;">.col-md-1</div>
	<div class="col-md-1" style="background-color: green;">.col-md-1</div>
	<div class="col-md-1" style="background-color: blue;">.col-md-1</div>
	<div class="col-md-1" style="background-color: green;">.col-md-1</div>
	<div class="col-md-1" style="background-color: blue;">.col-md-1</div>
	<div class="col-md-1" style="background-color: green;">.col-md-1</div>
	<div class="col-md-1" style="background-color: blue;">.col-md-1</div>
	<div class="col-md-1" style="background-color: green;">.col-md-1</div>
	<div class="col-md-1" style="background-color: blue;">.col-md-1</div>
	<div class="col-md-1" style="background-color: green;">.col-md-1</div>
</div>

<div class="row" style="background-color:black; padding:6px 0px 6px 0px;">
	<div class="col-sm-1" style="background-color: blue;">.col-sm-1</div>
	<div class="col-sm-1" style="background-color: yellow;">.col-sm-1</div>
	<div class="col-sm-1" style="background-color: blue;">.col-sm-1</div>
	<div class="col-sm-1" style="background-color: yellow;">.col-sm-1</div>
	<div class="col-sm-1" style="background-color: blue;">.col-sm-1</div>
	<div class="col-sm-1" style="background-color: yellow;">.col-sm-1</div>
	<div class="col-sm-1" style="background-color: blue;">.col-sm-1</div>
	<div class="col-sm-1" style="background-color: yellow;">.col-sm-1</div>
	<div class="col-sm-1" style="background-color: blue;">.col-sm-1</div>
	<div class="col-sm-1" style="background-color: yellow;">.col-sm-1</div>
	<div class="col-sm-1" style="background-color: blue;">.col-sm-1</div>
	<div class="col-sm-1" style="background-color: yellow;">.col-sm-1</div>
</div>

<div class="row" style="background-color:black; padding:6px 0px 6px 0px;">
	<div class="col-xs-1" style="background-color: blue;">.col-xs-1</div>
	<div class="col-xs-1" style="background-color: yellow;">.col-xs-1</div>
	<div class="col-xs-1" style="background-color: blue;">.col-xs-1</div>
	<div class="col-xs-1" style="background-color: yellow;">.col-xs-1</div>
	<div class="col-xs-1" style="background-color: blue;">.col-xs-1</div>
	<div class="col-xs-1" style="background-color: yellow;">.col-xs-1</div>
	<div class="col-xs-1" style="background-color: blue;">.col-xs-1</div>
	<div class="col-xs-1" style="background-color: yellow;">.col-xs-1</div>
	<div class="col-xs-1" style="background-color: blue;">.col-xs-1</div>
	<div class="col-xs-1" style="background-color: yellow;">.col-xs-1</div>
	<div class="col-xs-1" style="background-color: blue;">.col-xs-1</div>
	<div class="col-xs-1" style="background-color: yellow;">.col-xs-1</div>
</div>

<div class='row'><div class='span12'>
<hr style = 'background-color:#000000; border-width:1; color:#000000; height:3px; lineheight:0; display: inline-block; text-align: left; width:100%;' />
</div></div>

<div class="row">
	<div class="col-md-8 col-sm-4" style='background-color:red;'>.col-md-8</div>
	<div class="col-md-4 col-sm-2" style='background-color:blue;'>.col-md-4</div>
</div>

<div class='row'><div class='span12'>
<hr style = 'background-color:#000000; border-width:1; color:#000000; height:3px; lineheight:0; display: inline-block; text-align: left; width:100%;' />
</div></div>

<div class="row">
	<div class="col-md-4">.col-md-4</div>
	<div class="col-md-4">.col-md-4</div>
	<div class="col-md-4">.col-md-4</div>
</div>

<div class='row'><div class='span12'>
<hr style = 'background-color:#000000; border-width:1; color:#000000; height:3px; lineheight:0; display: inline-block; text-align: left; width:100%;' />
</div></div>

<div class="row">
	<div class="col-md-6 col-sm-4 col-xs-2">
		<hr style = 'background-color:#000000; border-width:0; color:#000000; height:2px; lineheight:0; display: inline-block; text-align: left; width:100%;' />
		<div class="row">
			<div class="col-md-3 col-sm-2 col-xs-1" style='background-color:yellow;>.col-md-8</div>
			<div class="col-md-3 col-sm-2 col-xs-1" style='background-color:green;>.col-md-4</div>
		</div>
		<hr style = 'background-color:#000000; border-width:0; color:#000000; height:2px; lineheight:0; display: inline-block; text-align: left; width:100%;' />
		<div class="row">
			<div class="col-md-3 col-sm-2 col-xs-1" style='background-color:purple;>.col-md-8</div>
			<div class="col-md-3 col-sm-2 col-xs-1" style='background-color:orange;>.col-md-4</div>
		</div>
		<hr style = 'background-color:#000000; border-width:0; color:#000000; height:2px; lineheight:0; display: inline-block; text-align: left; width:100%;' />
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-3 col-sm-1" style='background-color:yellow;'>.col-md-8</div>
			<div class="col-md-3 col-sm-1" style='background-color:green;'>.col-md-4</div>
		</div>
	</div>
</div>
{% endblock %}
